body{
     background-image: url(https://images.unsplash.com/photo-1551610290-e153ec567dd8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y29mZmV8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60);
     background-repeat: no-repeat;
     background-size:cover;
     margin:0;
     padding:0;
}

div{
display:flex;
background-color:rosybrown;
width:100%;
height: 50px;
position: flex;
align-items: center;
justify-content: space-around;
}
li{
    list-style: none;
    display: inline-block;  
    padding:0 40px;
}
.navlink{
    text-decoration: none;
    color: antiquewhite;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
}
#cafe{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
#welcome{
    font-family:fantasy;
    color:antiquewhite;
    font-size: 4rem;
}
button{
    width: 200px;
    height: 40px;
    border-radius: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serifs;
    background-color:antiquewhite;
    color: rosybrown;
}
#au{
    background-color: antiquewhite;
    border-radius: 10px;
    margin: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(94, 58, 58);
    padding: 5px;

}
.ab{
    text-align: center;
}
#more{
    background-color: antiquewhite;
    border-radius: 10px;
    margin: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(94, 58, 58);
    padding: 5px;
}